@import './scss/framework';


$block: 'routes';

.#{$block} {
  padding: 2rem;

  @include tablet-up {
    padding: 2rem 5rem;
  }

  @include laptop-up {
    padding: 2rem 8rem;
  }

  @include large-laptop-up {
    padding: 2rem 10rem;
  }

  @include large-desktop-up {
    padding: 2rem 30rem;
  }

  // &__nav {
  //   padding: 1rem;
  // }
  &__site-title {
    // text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
    font-weight: 800;
    a {
      text-decoration: none;
    }
  }
}