// Main Colours

// Green
$green: #81c784;
$green-light: #b2fab4;
$green-dark: #519657;

// Yellow
$yellow: #fdd835;
$yellow-light: #ffff6b;
$yellow-dark: #c6a700;

// Orange
$orange: #f4511e;
$orange-light:#ff844c;
$orange-dark: #b91400; 

// Red 
$red: #d32f2f;
$red-light: #ff6659;
$red-dark: #9a0007;

// Main Shades
