@import '../scss/framework';

$block: 'author';

.#{$block} {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  
  &__section-title {
    padding: 1rem;
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
  }


}