@import '../scss/framework';

$block: 'package-list';

.#{$block} {
  width: 100%;
  display: block;
  float: left;

  &--padded {
    float: left;
  }
  
  &__section-title {
    padding: 1rem;
    margin: 0.75rem 0;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: normal;
  }

  &__list-item {
    flex: 1 0 21%;
  }


}