@import '../scss/framework';

$block: 'package-list';

.#{$block} {
  width: 100%;
  display: block;
  float: left;

  &--padded {
    padding: 2rem;
    float: left;
  }
  
  &__section-title {
    // width: 100%;
    float: left;
    display: block;
    margin: 0.75rem 0;
    padding: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
  }


}